.footer {
  min-height: 280px;
  padding: 50px 0 48px;
  background-color: $black-pearl;

  @include vp-1023 {
    padding-bottom: 60px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 28% 1fr 28.3%;
  gap: 2.7%;

  @include vp-1439 {
    grid-template-columns: 30% 1fr 28.3%;
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 4.5%;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.footer__column {
  @include vp-767 {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    }
  }
}

.footer__column:not(.footer__column--logo-social) {
  padding-top: 7px;

  @include vp-767 {
    padding-top: 0;
  }
}

.footer__column:not(.footer__column--logo-social) .footer__column-header {
  @include vp-767 {
    padding-top: 22px;
    padding-bottom: 22.1px;
  }
}

.footer__column--logo-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include vp-1023 {
    flex-direction: row;
    grid-column: span 2;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-right: #{"min(50px, 7.8%)"};
    padding-left: #{"min(50px, 7.8%)"};
  }
}

.footer__column-header {
  @include vp-767 {
    position: relative;
    margin: 0 auto;
    padding-right: #{"min(50px, 7.8%)"};
    padding-left: #{"min(50px, 7.8%)"};
  }
}

.footer__logo {
  margin-bottom: 35px;

  @include vp-1023 {
    margin-right: auto;
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: -5px;
  }
}

.footer__social {
  max-width: 80%;
  margin-left: 15px;

  @include vp-1023 {
    max-width: 48%;
    margin-top: 10px;
  }

  @include vp-767 {
    max-width: 80%;
    justify-content: center;
    margin-left: 4px;
    margin-bottom: 23px;
  }
}

.footer h2 {
  margin: 0;
  font-family: $ff-general;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-767 {
    margin-bottom: 0;
    padding-right: 50px;
  }
}

.footer h2:not(:last-child) {
  margin-bottom: 22px;

  @include vp-767 {
    margin-bottom: 0;
  }
}

.footer__accordion-toggle {
  display: none;
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: transparent;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: rgba(196, 196, 196, 0.8);
    }

    &:active {
      opacity: 1;
    }

    &:active::before,
    &:active::after {
      background-color: rgba(196, 196, 196, 0.5);
    }
  }

  @include vp-767 {
    display: inline-flex;
  }
}

.footer__accordion-toggle span {
  position: absolute;
  top: 18px;
  display: block;
  right: #{"min(50px, 7.8%)"};
  width: 18px;
  height: 18px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    background-color: #c4c4c4;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-out;
  }

  &::before {
    width: 15px;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 15px;
  }
}

.footer__accordion-content {
  @include vp-767 {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;

    margin: 0 auto;
    padding-right: #{"min(50px, 7.8%)"};
    padding-left: #{"min(50px, 7.8%)"};
  }
}

.footer__accordion-content[inert] > * {
  visibility: hidden;
}

.footer__nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;
  gap: 5px #{"clamp(10px, 8%, 40px)"};
  user-select: none;

  @include vp-1023 {
    grid-template-columns: 1fr;
    padding-right: 72px;
    row-gap: 6px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.footer__nav li:nth-child(2n),
.footer__nav li:nth-child(3n),
.footer__nav li:nth-child(4n) {
  grid-column: 1 / 2;
}

.footer__nav li:nth-child(5n),
.footer__nav li:nth-child(6n),
.footer__nav li:nth-child(7n) {
  grid-column: 2 / 3;

  @include vp-1023 {
    grid-column: 1 / 2;
  }
}

.footer__nav li:nth-child(2n + 10),
.footer__nav li:nth-child(3n + 10),
.footer__nav li:nth-child(4n + 10),
.footer__nav li:nth-child(5n + 10),
.footer__nav li:nth-child(6n + 10),
.footer__nav li:nth-child(7n + 10),
.footer__nav li:nth-child(8n),
.footer__nav li:nth-child(9n) {
  grid-column: auto;
}

.footer__office address {
  margin-bottom: 7px;
  font-family: $ff-additional;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  @include vp-767 {
    margin-bottom: 16px;
    margin-top: -4px;
    font-size: 14px;
    line-height: 19px;
  }
}

.footer__office-phones ul {
  margin: 0;
  padding: 0;
  user-select: none;
}

.footer__office-phones li {
  list-style-type: none;
}

.footer__office-phones li:not(:last-child) {
  margin-bottom: 5px;
}

.footer__office-phones a {
  display: inline-block;
  vertical-align: middle;
  font-family: $ff-additional;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

// .footer__accordion-toggle.is-active

.footer__accordion-toggle.is-active span {
  @include vp-767 {
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

// footer--no-js

.footer.has-no-js .footer__accordion-content {
  @include vp-767 {
    max-height: initial;
    padding-bottom: 15px;
  }
}

.footer.has-no-js .footer__accordion-toggle {
  @include vp-767 {
    display: none;
  }
}
