.logo {
  display: flex;
  flex-wrap: nowrap;
}

.logo__img {
  margin-right: 15px;

  &--header {
    @include vp-767 {
      margin-right: 0;
      width: 35px;
      height: 35px;
    }
  }
}

.logo__name {
  margin-top: 5px;

  &--header {
    @include vp-767 {
      display: none;
    }
  }
}
