.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style-type: none;
}

.nav a {
  display: inline-block;
  vertical-align: middle;
  font-family: $ff-additional;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: rgba(255, 255, 255, 0.7);

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
