.container {
  width: 100%;
  max-width: calc(1222px + 14%);
  margin: 0 auto;
  padding-right: 7%;
  padding-left: 7%;
  transition: all 0.4s ease-out;

  @include vp-1023 {
    padding-right: 6.5%;
    padding-left: 6.5%;
  }

  @include vp-767 {
    padding-right: #{"min(50px, 7.8%)"};
    padding-left: #{"min(50px, 7.8%)"};
  }
}
